<div class="col-md-8 col-md-offset-1">

    <!-- 博客列表 -->
    <% page.posts.forEach(function(post) { %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"> <%= post.title %> </h3>
            </div>
            <div class="panel-body">
                <%- post.excerpt %>

                <div class="excerpt-footer">
                    <% post.tags.forEach(function(tag) { %>
                        <a class="label label-default" href="<%- url_for(tag.path) %>"> <%= tag.name %> </a>
                    <% }); %>
                    <a class="btn btn-raised btn-info pull-right" href="<%- url_for(post.path) %>">Read More</a>
                </div>
            </div>
        </div>
    <% }); %>

    <!-- 分页 -->
    <ul class="pagination">
        <% if (page.current == 1) { %>
            <li class="disabled"><span>&laquo;</span></li>
        <% } else { %>
            <li><a href="/">&laquo;</a></li>
        <% } %>

        <% for (var i = 1; i <= page.total; i++) { %>
            <% if (i === page.current) { %>
                <li class="active disabled"><span> <%= i %> </span></li>
            <% } else { %>
                <li><a href="<%- url_for(i === 1 ? '/' : '/page/' + i) %>"> <%= i %> </a></li>
            <% } %>
        <% } %>

        <% if (page.current == page.total) { %>
            <li class="disabled"><span>&raquo;</span></li>
        <% } else { %>
            <li><a href="<%- url_for('/page/' + page.total) %>">&raquo;</a></li>
        <% } %>
    </ul>

</div>
